:root {
  --primary-color: rgb(107,107,113);

  --color1:          #ffffff;
  --color2:          #bababa;
  --color3:          #8d8d8d;
  --color4:          #a6cbeb;
  --color5:          #356691;
  --color6:          #3a3a3a;

  --header-background: var(--color1);
  --content-border: var(--color4);
  --header-foreground: var(--color3);

/* Our favorite fonts go here. */

  --font1: 'Michroma', sans-serif;
  --font2: 'Lato', sans-serif;
  
  --heading-font: var(--font1);
  --paragraph-font: var(--font2);
  --code-font: Courier, monospace;
}

h1,h2,h3,h4,h5,h6,label {
  font-family: var(--heading-font);
}

body{
  background: var(--primary-color);
  background: linear-gradient(90deg, rgba(107,107,113,1) 0%, rgba(160,160,173,1) 35%, rgba(255,255,255,1) 100%);
  width: 95%;
  height: auto;
  font-family: var(--paragraph-font);
  font-size: 1.5rem;
}

#root{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}
/* Title */
.app-title{
  color: #3e4342;
  display: flex;
  justify-content: center;
  text-shadow: 6px 6px 12px #c5c5c5,
             -6px -6px 12px #ffffff;
}

a{
  text-decoration: none;
}

/* navigation */
nav{
  display: flex;
  justify-content:flex-end;
  align-items: center;
  gap: 15px;
}

/* nav buttons */
nav button {
  display: inline-block;
  transition: all 0.2s ease-in;
  position: relative;
  overflow: hidden;
  z-index: 1;
  color: #090909;
  padding: 0.7em 1.7em;
  font-size: 15px;
  border-radius: 0.5em;
  background: #e8e8e8;
  border: 1px solid var(--primary-color);
  box-shadow: 6px 6px 12px #c5c5c5,
             -6px -6px 12px #ffffff;
}

nav button:active {
  color: #666;
  box-shadow: inset 4px 4px 12px #c5c5c5,
             inset -4px -4px 12px #ffffff;
}

button:before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%) scaleY(1) scaleX(1.25);
  top: 100%;
  width: 140%;
  height: 180%;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

nav button:after {
  content: "";
  position: absolute;
  left: 55%;
  transform: translateX(-50%) scaleY(1) scaleX(1.45);
  top: 180%;
  width: 160%;
  height: 190%;
  background-color: #3e4342;
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

nav button:hover {
  color: #ffffff;
  border: 1px solid #3e4342;
}

nav button:hover:before {
  top: -35%;
  background-color: #3e4342;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

nav button:hover:after {
  top: -45%;
  background-color: #3e4342;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}
/* Main Div */
main{
  display: flex;
  flex-direction: column;
  border: 2px solid var(--primary-color);
  background: #e8e8e8;
  width: 100%;
  height: auto;
  border-radius: 10px;
  justify-content:center;
  align-items: center;
  margin-top: 0.5em;
  padding: 1em;
  box-shadow: 6px 6px 12px #c5c5c5,
             -6px -6px 12px #ffffff;
}

/* Footer */
footer{
  display: flex;
  border: 2px solid var(--primary-color);
  background: #e8e8e8;
  width: 100%;
  height: auto;
  border-radius: 10px;
  justify-content: center;
  margin-top: 0.5em;
  box-shadow: 6px 6px 12px #c5c5c5,
             -6px -6px 12px #ffffff;
  padding: 1em;
}

/* div Content Grid */
.div-content h1{
  grid-area: h1;
  text-align: center;
}

.teamNamesContainer{
  grid-area: names;
  text-align: center;
}

.teamUsersContainer{
  grid-area: users;
  text-align: center;
}

.div-content{
  display: grid;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 10px;
  grid-template-areas: 
  "h1 h1"
  "names users";
}

.quiz-question {
  font-family: var(--heading-font);
  text-align: center;
}

label {
  font-size: 0.8em;
}